html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.toast-container{
    z-index:9999999999999;
}
.modal.current-modal .modal-dialog:has(iframe ) {
    max-width: 794px;
    max-height: 1123px;
}
.modal.current-modal .modal-dialog iframe {
    width: 100%;
    min-width: 100%;
    min-height: calc(100vh - 300px);
}
[auto-hidden=True]
{
    display:none;
}

.context-menu {
    background-color: white;
    position: fixed;
    visibility: hidden;
    border:dotted 1px
}

.context-menu.active {
    visibility: visible;
    z-index: 9999999999999;
}

.context-menu .item {
    padding: 10px 15px 10px 10px;
    background-color: white;
    min-width: 200px;
}
.context-menu .item:hover {
    cursor: pointer;
    background-color: #0d6efd !important;
    color: white !important;
}

.context-menu .item:hover i {
    color: white !important;
}
