<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary border_custom menu-title">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img loading="lazy" hilo-logo="self" src="/img/Manager/ic_launcher.png" width="120" height="40" aria-label="Mã số thuế :0106713804-999" data-bs-original-title="Mã số thuế :0106713804-999">
        </a>
        <button class="btn btn-link btn-sm" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <li class="nav-item mt-2 me-3 ">
                    <i class="fa fa-xl fa-regular fa-bell text-dark-emphasis"></i>
                </li>
                <li class="nav-item mt-1">
                    <a href="/User/CurrentUserInfo">
                        <img class="ms-1 me-1 message_bell" src="/img/Manager/user.jpg" width="40" height="40">
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

